body {
  background-color:#fafafa;
  
}



#hero-img {
    width: 90%;
    background: url("../images/travel2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    margin: 10px;
    padding: 30px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.card-img-top {
    height: 200px;
}

.card {
    width: 90%;
}

.card-group-section {
    padding-left: 20px;
    padding-top: 20px;
}


.holder-img {
  height: 450px;
  width: 70%;
  object-fit: cover;
}

.custom-grid {
  background: #bcd6f1;
  padding: 30px;
  
}
.site-wrap {
        width: 90%;
        margin: 50px auto;
        background: white;
        padding: 50px;
        text-align: justify;
      }
      

      .align-left {
        float: left;
        
      }

      .align-right {
        float: right;
        
      }

      .slide-in {
        opacity: 0;
        transition: all 0.5s;
      }

      .align-left.slide-in {
        transform: translateX(-30%) scale(0.95);
      }

      .align-right.slide-in {
        transform: translateX(30%) scale(0.95);
      }

      .slide-in.active {
        opacity: 1;
        transform: translateX(0%) scale(1);
      }
    /*---------------------css for my dream holiday*/
     /* ------------------------------------------------Hero Img */

.hero-image-home {
  background: url("../images/best-travel1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.custum-caption {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  color: #f8f9fa;
}

/* ------------------------------------------------HEADINGS */

.section-heading {
  font-family: "Lobster", cursive, sans-serif;
  text-align: center;
}

.heading {
  font-family: "Lobster", cursive, sans-serif;
}

/* ------------------------------------------------BENEFITS & SERVICE SECTION Home Page */

.serv-tit {
  font-family: "Lobster", cursive, sans-serif;
  padding: 20px;
  margin: 0;
}

.card-custom {
  background-color: rgb(3, 161, 142);
  color:rgb(255, 255, 28);
  margin-top: 10px;
  margin-bottom: 10px;
}

.service-list {
  display: none;
  list-style-position: outside;
  color: #000505;
}

.benefits-list {
  display: none;
  list-style-position: outside;
  color: #000505;
}
.about-list {
  display: none;
  color: #000505;
}
.contact-list {
  display: none;
  color: #000505;
}

.book-tour {
  display: none;
}

.plan-tour {
  display: none;
}
.contact-us {
  display: none;
}
.about-us {
  display: none;
}

.plan-btn {
  background-color: rgb(255, 255, 28);
  text-align: center;
  color: rgb(12, 12, 12);
}

.card-body {
  cursor: pointer;
}

.plan-btn:hover {
  background-color: #fafafa;
}

.card-body h2:hover {
  background-color: rgb(255, 255, 28);
  color: rgb(12, 12, 12);
}
 
